# See http://help.github.com/ignore-files/ for more about ignoring files.

.DS_Store
package-lock.json
/cypress/screenshots/
/cypress/videos/
/cypress/reports/

#dependencies
node_modules/

/cypress/fixtures/*.json